header {
background-color: #2B4A61DE;
}

.switch {
  display: inline-block;
}

.switch input {
  display: none;
}

.slider {
  width: 50px;
  height: 28px;
  background: #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.slider::after {
  content: "";
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

.switch input:checked + .slider {
  background: rgb(104, 120, 243);

}

.switch input:checked + .slider::after {
  transform: translateX(22px);
}


button {
  background-color: #3c40b8;
  color: #26C6EA;
  border: 2px;
  width: 100px;
  height: 37px;
  font-size: 25px;
  border-radius: 35px 35px;
  border: 2px rgb(0, 170, 255) solid;
  font-style: italic;
}

img {
  width: 186px;
  height: 72px;
}

.nav-tool {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  gap: 30px;
  list-style: none;
  

}