* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

header p {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-bottom: 30px;
}

header p::selection {
  background-color: brown;
  color: white;
}

.gradients {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  width: 300px;
  height: 200px;
  padding: 20px;
  font-size: 27px;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-position 0.6s ease, opacity 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.6);
}

.box:nth-child(1) {
  background: linear-gradient(to bottom, red, green, blue);
}

.box:nth-child(2) {
  color: azure;
  background: linear-gradient(270deg, #3d57cc, #835485, #6ab31d);
}

.box:nth-child(3) {
  color: azure;
  background: linear-gradient(0deg, rgba(120, 151, 62, 0.5), rgba(255, 255, 0, 0.5)), url("https://images.pexels.com/photos/1056251/pexels-photo-1056251.jpeg");
  background-size: cover;
}

.box:nth-child(4) {
  color: azure;
  background: linear-gradient(270deg, yellow 10%, green 10%, green 20%, red 20%);
}

.box:nth-child(5) {
  background: radial-gradient(circle at top left, rgba(80, 35, 35), rgba(196, 177, 190), rgb(143, 134, 134));
}

.box:nth-child(6) {
  background: radial-gradient(circle at top left, rgba(80, 35, 35), rgba(196, 177, 190), rgb(143, 134, 134));
}

.box:nth-child(7) {
  color: azure;
  background: repeating-linear-gradient(-45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
  opacity: 0.85;
}
